.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  gap: 20px;
}

.header__logo img {
  height: 100px;
}

.header__search-field {
  max-width: 400px;
  width: 100%;
}
